swagger: '2.0'
info:
  title: Accounting API
  version: '2.0'
  description: |
    # Introduction
    The Xero Accounting API is a RESTful web service and uses the OAuth (v1.0a) protocol to authenticate 3rd party applications. The Accounting API exposes accounting and related functions of the main Xero application and can be used for a variety of purposes such as creating transactions like invoices and credit notes, right through to extracting accounting data via our reports endpoint.
  contact:
    name: Xero Developer Team
    url: 'https://developer.xero.com'
  x-logo:
    url: 'https://lh3.googleusercontent.com/-_IQ9BNy118c/AAAAAAAAAAI/AAAAAAAAAB0/yvA2ZQSg_pk/s500-c-no/photo.jpg'
host: api.xero.com
basePath: /api.xro/2.0
schemes:
  - https
consumes:
  - application/xml
produces:
  - application/xml
  - application/json
tags:
- name: "Accounts"
  externalDocs: 
    description: "Accounts"
    url: "https://developer.xero.com/documentation/api/accounts/"
- name: "BankTransactions"
  externalDocs: 
    description: "BankTransactions"
    url: "https://developer.xero.com/documentation/api/banktransactions/"
- name: "BankTransfers"
  externalDocs: 
    description: "BankTransfers"
    url: "https://developer.xero.com/documentation/api/banktransfers/"
- name: "BrandingThemes"
  externalDocs: 
    description: "BrandingThemes"
    url: "https://developer.xero.com/documentation/api/brandingthemes/"
- name: "Contacts"
  externalDocs: 
    description: "Contacts"
    url: "https://developer.xero.com/documentation/api/contacts/"
- name: "ContactGroups"
  externalDocs: 
    description: "ContactGroups"
    url: "https://developer.xero.com/documentation/api/contactgroups/"
- name: "CreditNotes"
  externalDocs: 
    description: "CreditNotes"
    url: "https://developer.xero.com/documentation/api/creditnotes/"
- name: "Currencies"
  externalDocs: 
    description: "Currencies"
    url: "https://developer.xero.com/documentation/api/currencies/"
- name: "Employees"
  externalDocs: 
    description: "Employees"
    url: "https://developer.xero.com/documentation/api/employees/"
- name: "ExpenseClaims"
  externalDocs: 
    description: "ExpenseClaims"
    url: "https://developer.xero.com/documentation/api/expenseclaims/"
- name: "Invoices"
  externalDocs: 
    description: "Invoices"
    url: "https://developer.xero.com/documentation/api/invoices/"
- name: "Items"
  externalDocs: 
    description: "Items"
    url: "https://developer.xero.com/documentation/api/items/"
- name: "LinkedTransactions"
  externalDocs: 
    description: "LinkedTransactions"
    url: "https://developer.xero.com/documentation/api/Linked-Transactions/"  
- name: "ManualJournals"
  externalDocs: 
    description: "ManualJournals"
    url: "https://developer.xero.com/documentation/api/manual-journals/" 
- name: "Organisations"
  externalDocs: 
    description: "Organsiations"
    url: "https://developer.xero.com/documentation/api/organisation/"
- name: "Overpayments"
  externalDocs: 
    description: "Overpayments"
    url: "https://developer.xero.com/documentation/api/overpayments/"
- name: "Payments"
  externalDocs: 
    description: "Payments"
    url: "https://developer.xero.com/documentation/api/payments/"
- name: "Prepayments"
  externalDocs: 
    description: "Prepayments"
    url: "https://developer.xero.com/documentation/api/prepayments/"
- name: "PurchaseOrders"
  externalDocs: 
    description: "PurchaseOrders"
    url: "https://developer.xero.com/documentation/api/purchase-orders/"
- name: "Receipts"
  externalDocs: 
    description: "Receipts"
    url: "https://developer.xero.com/documentation/api/receipts/"  
- name: "RepeatingInvoices"
  externalDocs: 
    description: "RepeatingInvoices"
    url: "https://developer.xero.com/documentation/api/repeating-invoices/"
- name: "Reports"
  externalDocs: 
    description: "Reports"
    url: "https://developer.xero.com/documentation/api/reports/"
- name: "TaxRates"
  externalDocs: 
    description: "TaxRates"
    url: "https://developer.xero.com/documentation/api/tax-rates/"
- name: "TrackingCategories"
  externalDocs: 
    description: "TrackingCategories"
    url: "https://developer.xero.com/documentation/api/tracking-categories/"
- name: "Users"
  externalDocs: 
    description: "Users"
    url: "https://developer.xero.com/documentation/api/users/"
paths:
  /Accounts:
    x-related-model: Account
    get:
      tags:
        - "Accounts"
      summary: Retrieve the full chart of accounts
      description: Retrieve the chart of accounts
      produces:
        - application/xml
        - application/json
      parameters:
        - $ref: '#/parameters/If-Modified-Since'
        - $ref: '#/parameters/where'
        - $ref: '#/parameters/order'
      responses:
        '200':
          description: A successful response
          schema:
            $ref: '#/definitions/AccountsResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
    put:
      tags:
        - "Accounts"
      summary: Create new accounts
      parameters:
        - in: body
          name: Accounts
          schema:
            $ref: '#/definitions/Account'
          required: true
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/AccountsResponse'
        '400':
          $ref: '#/responses/400ErrorResponse'    
    post:
      tags:
        - "Accounts"
      summary: Create or update accounts
      parameters:
        - in: body
          name: Accounts
          schema:
            $ref: '#/definitions/Account'
          required: true
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/AccountsResponse'
        '400':
          $ref: '#/responses/400ErrorResponse'
  '/Accounts/{AccountID}':
    x-related-model: Account
    get:
      tags:
        - "Accounts"
      summary: Retrieve a single account
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/AccountsResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
      parameters:
        - required: true
          in: path
          name: AccountID
          type: string
          format: uuid
    post:
      tags:
        - "Accounts"
      summary: Update an account
      parameters:
        - in: body
          name: Accounts
          schema:
            $ref: '#/definitions/Account'
          required: true
        - required: true
          in: path
          name: AccountID
          type: string
          format: uuid
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/AccountsResponse'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
    delete:
      tags:
        - "Accounts"
      summary: Delete an account
      responses:
        '200':
          description: A successful request
        '404':
          $ref: '#/responses/404ErrorResponse'
      parameters:
        - required: true
          in: path
          name: AccountID
          type: string
          format: uuid
  '/Accounts/{AccountID}/Attachments':
    get:
      tags:
      - "Accounts"
      summary: Retrieve Attachments
      description: Retrieve Attachments
      produces:
        - application/xml
        - application/json
      parameters:
        - name: AccountID
          in: path
          description: >-
            The Xero generated unique identifier for an account
          required: true
          type: string
        - $ref: '#/parameters/If-Modified-Since'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Attachments'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
  '/Accounts/{AccountID}/Attachments/{FileName}':
    get:
      tags:
      - "Accounts"
      summary: Download an Attachment
      description: Download an Attachment
      produces:
        - application/xml
        - application/json
      parameters:
        - name: FileName
          in: path
          description: The filename of the attachment to be downloaded
          required: true
          type: string
        - name: AccountID
          in: path
          description: >-
            The Xero generated unique identifier for an account
          required: true
          type: string
        - $ref: '#/parameters/If-Modified-Since'
      responses:
        '200':
          description: >-
            Successful response. The response message will contain the raw file
            content that was originally uploaded. The response won’t contain any
            xml or json encoded information
        '404':
          description: Attachment does not exist
        '500':
          $ref: '#/responses/500ErrorResponse'
    post:
      tags:
      - "Accounts"
      summary: Upload an Attachment
      description: Upload an Attachment
      produces:
        - application/xml
        - application/json
      parameters:
        - name: FileName
          in: path
          description: The filename of the attachment being uploaded
          required: true
          type: string
        - name: AccountID
          in: path
          description: >-
            The Xero generated unique identifier for an account
          required: true
          type: string
        - name: Content
          in: body
          description: The raw content of the file to be uploaded
          required: true
          schema:
            required:
              - Content
            properties:
              Content:
                type: object
                description: The raw file content
      responses:
        '200':
          description: Attachment succesfully created.
          schema:
            $ref: '#/definitions/Attachments'
        '400':
          description: Attachment couldn't be created.
        '500':
          $ref: '#/responses/500ErrorResponse'
  /BankTransactions:
    x-related-model: BankTransaction
    get:
      tags:
        - "BankTransactions"
      summary: Retrieve any spend or receive money transactions (inc. prepayments and overpayments)
      responses:
        '200':
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/BankTransaction'
        '500':
          $ref: '#/responses/500ErrorResponse'
      produces:
        - application/xml
        - application/json
      parameters:
        - $ref: '#/parameters/If-Modified-Since'
        - $ref: '#/parameters/where'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/unitdp'
    put:
      tags:
        - "BankTransactions"
      summary: Create a new spend or receive money (inc. prepayments and overpayments)
      parameters:
        - in: body
          name: BankTransactions
          schema:
            $ref: '#/definitions/BankTransaction'
          required: true
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/BankTransaction'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
    post:
      tags:
        - "BankTransactions"
      summary: Create a new spend or receive money (inc. prepayments and overpayments)
      parameters:
        - in: body
          name: BankTransactions
          schema:
            $ref: '#/definitions/BankTransaction'
          required: true
        - $ref: '#/parameters/unitdp'
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/BankTransaction'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
  '/BankTransactions/{BankTransactionID}':
    x-related-model: BankTransaction
    get:
      tags:
       - "BankTransactions"
      summary: Retrieve a spend or receive money (inc. prepayments and overpayments)
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/BankTransaction'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      parameters:
        - required: true
          in: path
          name: BankTransactionID
          type: string
          format: uuid
        - $ref: '#/parameters/unitdp'
    post:
      tags:
        - "BankTransactions"
      summary: Update a spend or receive money
      parameters:
        - in: body
          name: BankTransactions
          schema:
            $ref: '#/definitions/BankTransaction'
          required: true
        - required: true
          in: path
          name: BankTransactionID
          type: string
          format: uuid
        - $ref: '#/parameters/unitdp'
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/BankTransaction'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
  '/BankTransactions/{BankTransactionID}/Attachments':
    get:
      tags:
      - "BankTransactions"
      summary: Retrieve Attachments
      description: Retrieve Attachments
      produces:
        - application/xml
        - application/json
      parameters:
        - name: BankTransactionID
          in: path
          description: >-
            The Xero generated unique identifier for an bank transaction
          required: true
          type: string
        - $ref: '#/parameters/If-Modified-Since'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Attachments'
        '500':
          $ref: '#/responses/500ErrorResponse'
  '/BankTransactions/{BankTransactionID}/Attachments/{FileName}':
    get:
      tags:
      - "BankTransactions"
      summary: Download an Attachment
      description: Download an Attachment
      produces:
        - application/xml
        - application/json
      parameters:
        - name: FileName
          in: path
          description: The filename of the attachment to be downloaded
          required: true
          type: string
        - name: BankTransactionID
          in: path
          description: >-
            The Xero generated unique identifier for an bank transaction
          required: true
          type: string
        - $ref: '#/parameters/If-Modified-Since'
      responses:
        '200':
          description: >-
            Successful response. The response message will contain the raw file
            content that was originally uploaded. The response won’t contain any
            xml or json encoded information
        '404':
          $ref: '#/responses/404ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
    post:
      tags:
      - "BankTransactions"
      summary: Upload an Attachment
      description: Upload an Attachment
      produces:
        - application/xml
        - application/json
      parameters:
        - name: FileName
          in: path
          description: The filename of the attachment being uploaded
          required: true
          type: string
        - name: BankTransactionID
          in: path
          description: >-
            The Xero generated unique identifier for an bank transaction
          required: true
          type: string
        - name: Content
          in: body
          description: The raw content of the file to be uploaded
          required: true
          schema:
            required:
              - Content
            properties:
              Content:
                type: string
                description: The raw file content
      responses:
        '200':
          description: Attachment succesfully created.
          schema:
            $ref: '#/definitions/Attachments'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse' 
  /BankTransfers:
    x-related-model: BankTransfer
    get:
      tags:
        - "BankTransfers"
      summary: Retrieve a colection of bank transfers
      responses:
        '200':
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/BankTransfersResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      produces:
        - application/xml
        - application/json
      parameters:
        - $ref: '#/parameters/If-Modified-Since'
        - $ref: '#/parameters/where'
        - $ref: '#/parameters/order'      
    put:
      tags:
        - "BankTransfers"
      summary: Create a bank transfer
      parameters:
        - in: body
          name: BankTransfers
          schema:
            $ref: '#/definitions/BankTransfer'
          required: true
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/BankTransfersResponse'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
  '/BankTransfers/{BankTransferID}':
    x-related-model: BankTransfer
    get:
      tags:
        - "BankTransfers"
      summary: Retrieve an individual bank transfer
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/BankTransfer'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      parameters:
        - required: true
          in: path
          name: BankTransferID
          type: string
          format: uuid
  '/BankTransfers/{BankTransferID}/Attachments/{FileName}':
    get:
      tags:
      - "BankTransfers"
      summary: Download an Attachment
      description: Download an Attachment
      produces:
        - application/xml
        - application/json
      parameters:
        - name: FileName
          in: path
          description: The filename of the attachment to be downloaded
          required: true
          type: string
        - name: BankTransferID
          in: path
          description: >-
            The Xero generated unique identifier for an BankTransfer
          required: true
          type: string
        - $ref: '#/parameters/If-Modified-Since'
      responses:
        '200':
          description: >-
            Successful response. The response message will contain the raw file
            content that was originally uploaded. The response won’t contain any
            xml or json encoded information
        '404':
          $ref: '#/responses/404ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
    post:
      tags:
      - "BankTransfers"
      summary: Upload an Attachment
      description: Upload an Attachment
      produces:
        - application/xml
        - application/json
      parameters:
        - name: FileName
          in: path
          description: The filename of the attachment being uploaded
          required: true
          type: string
        - name: BankTransferID
          in: path
          description: >-
            The Xero generated unique identifier for a BankTransfer
          required: true
          type: string
        - name: Content
          in: body
          description: The raw content of the file to be uploaded
          required: true
          schema:
            required:
              - Content
            properties:
              Content:
                type: string
                description: The raw file content
      responses:
        '200':
          description: Attachment succesfully created.
          schema:
            $ref: '#/definitions/Attachments'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
  /BrandingThemes:
    x-related-model: BrandingTheme
    get:
      tags:
        - "BrandingThemes"
      summary: Retrieve a collection of BrandingThemes
      responses:
        '200':
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/BrandingTheme'
        '500':
          $ref: '#/responses/500ErrorResponse'
  '/BrandingThemes/{BrandingThemeID}':
    x-related-model: BrandingTheme
    get:
      tags:
        - "BrandingThemes"
      summary: Retrieve an individual BrandingTheme
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/BrandingTheme'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      parameters:
        - required: true
          in: path
          name: BrandingThemeID
          type: string
          format: uuid
  /Contacts:
    x-related-model: Contact
    get:
      tags:
        - "Contacts"
      summary: 'Retrieve a collection of contacts'
      responses:
        '200':
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/ContactsResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      produces:
        - application/xml
        - application/json
      parameters:
        - $ref: '#/parameters/If-Modified-Since'
        - $ref: '#/parameters/where'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/includeArchived'
        - name: IDs
          in: query
          description: >-
            Filter by a comma-separated list of ContactIDs
          type: string
          required: false
    put:
      tags:
        - "Contacts"
      summary: Create a contact
      parameters:
        - in: body
          name: Contacts
          schema:
            $ref: '#/definitions/Contact'
          required: true
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/ContactsResponse'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
    post:
      tags:
        - "Contacts"
      summary: Create or update a contact
      parameters:
        - in: body
          name: Contacts
          schema:
            $ref: '#/definitions/Contact'
          required: true
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/ContactsResponse'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
  '/Contacts/{ContactID}':
    x-related-model: Contact
    get:
      tags:
        - "Contacts"
      summary: 'Retrieve an individual contact'
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/ContactsResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      parameters:
        - required: true
          in: path
          name: ContactID
          type: string
          format: uuid
    post:
      tags:
        - "Contacts"
      summary: 'Update a contact'
      parameters:
        - in: body
          name: Contacts
          schema:
            $ref: '#/definitions/Contact'
          required: true
        - required: true
          in: path
          name: ContactID
          type: string
          format: uuid
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/ContactsResponse'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
  '/Contacts/{ContactID}/Attachments':
    get:
      tags:
      - "Contacts"
      summary: Retrieve Attachments
      description: Retrieve Attachments
      produces:
        - application/xml
        - application/json
      parameters:
        - name: ContactID
          in: path
          description: >-
            The Xero generated unique identifier for a Contact
          required: true
          type: string
        - $ref: '#/parameters/If-Modified-Since'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Attachments'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
  '/Contacts/{ContactID}/Attachments/{FileName}':
    get:
      tags:
      - "Contacts"
      summary: Download an Attachment
      description: Download an Attachment
      produces:
        - application/xml
        - application/json
      parameters:
        - name: FileName
          in: path
          description: The filename of the attachment to be downloaded
          required: true
          type: string
        - name: ContactID
          in: path
          description: >-
            The Xero generated unique identifier for a Contact
          required: true
          type: string
        - $ref: '#/parameters/If-Modified-Since'
      responses:
        '200':
          description: >-
            Successful response. The response message will contain the raw file
            content that was originally uploaded. The response won’t contain any
            xml or json encoded information
        '404':
          $ref: '#/responses/404ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
    post:
      tags:
      - "Contacts"
      summary: Upload an Attachment
      description: Upload an Attachment
      produces:
        - application/xml
        - application/json
      parameters:
        - name: FileName
          in: path
          description: The filename of the attachment being uploaded
          required: true
          type: string
        - name: ContactID
          in: path
          description: >-
            The Xero generated unique identifier for a Contact
          required: true
          type: string
        - name: Content
          in: body
          description: The raw content of the file to be uploaded
          required: true
          schema:
            required:
              - Content
            properties:
              Content:
                type: string
                description: The raw file content
      responses:
        '200':
          description: Attachment succesfully created.
          schema:
            $ref: '#/definitions/Attachments'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
  /ContactGroups:
    x-related-model: ContactGroup
    get:
      tags:
        - "ContactGroups"
      summary: >-
        Retrieve a collection of contact groups
      responses:
        '200':
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/ContactGroupsResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      produces:
        - application/xml
        - application/json
      parameters:
        - $ref: '#/parameters/If-Modified-Since'
        - $ref: '#/parameters/where'
        - $ref: '#/parameters/order'
    put:
      tags:
        - "ContactGroups"
      summary: >-
        Create a new contact group
      parameters:
        - in: body
          name: ContactGroups
          schema:
            $ref: '#/definitions/ContactGroup'
          required: true
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/ContactGroupsResponse'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
    post:
      tags:
        - "ContactGroups"
      summary: >-
        Create or update a contact group
      parameters:
        - in: body
          name: ContactGroups
          schema:
            $ref: '#/definitions/ContactGroup'
          required: true
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/ContactGroupsResponse'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
  '/ContactGroups/{ContactGroupID}':
    x-related-model: ContactGroup
    get:
      tags:
        - "ContactGroups"
      summary: >-
        Retrieve the ContactID and Name of all the contacts in a
        contact group
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/ContactGroupsResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      parameters:
        - required: true
          in: path
          name: ContactGroupID
          type: string
          format: uuid
    post:
      tags:
        - "ContactGroups"
      summary: >-
        Update a contact group
      parameters:
        - in: body
          name: ContactGroups
          schema:
            $ref: '#/definitions/ContactGroup'
          required: true
        - required: true
          in: path
          name: ContactGroupID
          type: string
          format: uuid
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/ContactGroupsResponse'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
    delete:
      tags:
        - "ContactGroups"
      summary: >-
        Delete a contact group
      responses:
        '200':
          description: A successful request
        '404':
          $ref: '#/responses/404ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      parameters:
        - required: true
          in: path
          name: ContactGroupID
          type: string
          format: uuid
  '/ContactGroups/{ContactGroupID}/Contacts':
    x-related-model: ContactGroup
    put:
      tags:
        - "ContactGroups"
      summary: >-
        Add contacts to a contact group
      parameters:
        - in: body
          name: Contacts
          schema:
            $ref: '#/definitions/Contact'
          required: true
        - required: true
          in: path
          name: ContactGroupID
          type: string
          format: uuid
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/ContactGroupsResponse'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
    delete:
      tags:
        - "ContactGroups"
      summary: >-
        Remove all contacts from a contact group
      responses:
        '200':
          description: A successful request
        '404':
          $ref: '#/responses/404ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      parameters:
        - required: true
          in: path
          name: ContactGroupID
          type: string
          format: uuid
  '/ContactGroups/{ContactGroupID}/Contacts/{ContactID}':
    x-related-model: ContactGroup
    delete:
      tags:
        - "ContactGroups"
      summary: >-
        Remove a contact from a contact group
      responses:
        '200':
          description: A successful request
        '404':
          $ref: '#/responses/404ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      parameters:
        - required: true
          in: path
          name: ContactGroupID
          type: string
          format: uuid
        - required: true
          in: path
          name: ContactID
          type: string
          format: uuid
  /CreditNotes:
    x-related-model: CreditNote
    get:
      tags:
        - "CreditNotes"
      summary: Retrieve a collection of credit notes
      responses:
        '200':
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/CreditNote'
        '500':
          $ref: '#/responses/500ErrorResponse'
      produces:
        - application/xml
        - application/json
      parameters:
        - $ref: '#/parameters/If-Modified-Since'
        - $ref: '#/parameters/where'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/unitdp'
        - $ref: '#/parameters/page'
    put:
      tags:
        - "CreditNotes"
      summary: Create a credit note
      parameters:
        - in: body
          name: CreditNotes
          schema:
            $ref: '#/definitions/CreditNote'
          required: true
        - $ref: '#/parameters/unitdp'
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/CreditNote'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
    post:
      tags:
        - "CreditNotes"
      summary: Create or update a credit note
      parameters:
        - in: body
          name: CreditNotes
          schema:
            $ref: '#/definitions/CreditNote'
          required: true
        - $ref: '#/parameters/unitdp'
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/CreditNote'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
  '/CreditNotes/{CreditNoteID}':
    x-related-model: CreditNote
    get:
      tags:
        - "CreditNotes"
      summary: Retrieve an individual credit note
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/CreditNote'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      parameters:
        - required: true
          in: path
          name: CreditNoteID
          type: string
          format: uuid
        - $ref: '#/parameters/unitdp'
    post:
      tags:
        - "CreditNotes"
      summary: Update a credit note
      parameters:
        - in: body
          name: CreditNotes
          schema:
            $ref: '#/definitions/CreditNote'
          required: true
        - required: true
          in: path
          name: CreditNoteID
          type: string
          format: uuid
        - $ref: '#/parameters/unitdp'
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/CreditNote'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
  '/CreditNotes/{CreditNoteID}/Allocations':
    x-related-model: CreditNote
    put:
      tags:
        - "CreditNotes"
      summary: Allocate a credit note
      parameters:
        - in: body
          name: Allocations
          schema:
            $ref: '#/definitions/Allocation'
          required: true
        - required: true
          in: path
          name: CreditNoteID
          type: string
          format: uuid
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/Allocation'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
  '/CreditNotes/{CreditNoteID}/Attachments':
    get:
      tags:
      - "CreditNotes"
      summary: Retrieve Attachments
      description: Retrieve Attachments
      produces:
        - application/xml
        - application/json
      parameters:
        - name: CreditNoteID
          in: path
          description: >-
            The Xero generated unique identifier for a CreditNote
          required: true
          type: string
        - $ref: '#/parameters/If-Modified-Since'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Attachments'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
  '/CreditNotes/{CreditNoteID}/Attachments/{FileName}':
    get:
      tags:
      - "CreditNotes"
      summary: Download an Attachment
      description: Download an Attachment
      produces:
        - application/xml
        - application/json
      parameters:
        - name: FileName
          in: path
          description: The filename of the attachment to be downloaded
          required: true
          type: string
        - name: CreditNoteID
          in: path
          description: >-
            The Xero generated unique identifier for a CreditNote
          required: true
          type: string
        - $ref: '#/parameters/If-Modified-Since'
      responses:
        '200':
          description: >-
            Successful response. The response message will contain the raw file
            content that was originally uploaded. The response won’t contain any
            xml or json encoded information
        '400':
          $ref: '#/responses/400ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
    post:
      tags:
      - "CreditNotes"
      summary: Upload an Attachment
      description: Upload an Attachment
      produces:
        - application/xml
        - application/json
      parameters:
        - name: FileName
          in: path
          description: The filename of the attachment being uploaded
          required: true
          type: string
        - name: CreditNoteID
          in: path
          description: >-
            The Xero generated unique identifier for a CreditNote
          required: true
          type: string
        - name: Content
          in: body
          description: The raw content of the file to be uploaded
          required: true
          schema:
            required:
              - Content
            properties:
              Content:
                type: string
                description: The raw file content
      responses:
        '200':
          description: Attachment succesfully created.
          schema:
            $ref: '#/definitions/Attachments'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
  /Currencies:
    x-related-model: Currency
    get:
      tags:
        - "Currencies"
      summary: Retrieve the currencies the organisation is subscribed to
      responses:
        '200':
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/Currency'
        '500':
          $ref: '#/responses/500ErrorResponse'
      produces:
        - application/xml
        - application/json
      parameters:
        - $ref: '#/parameters/If-Modified-Since'
        - $ref: '#/parameters/where'
        - $ref: '#/parameters/order'
  /Employees:
    x-related-model: Employee
    get:
      tags:
        - "Employees"
      summary: >-
        Retrieve a collection of employees
      responses:
        '200':
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/Employee'
        '500':
          $ref: '#/responses/500ErrorResponse'
      produces:
        - application/xml
        - application/json
      parameters:
        - $ref: '#/parameters/If-Modified-Since'
        - $ref: '#/parameters/where'
        - $ref: '#/parameters/order'
    put:
      tags:
        - "Employees"
      summary: >-
        Create employees
      parameters:
        - in: body
          name: Employees
          schema:
            $ref: '#/definitions/Employee'
          required: true
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/Employee'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
    post:
      tags:
        - "Employees"
      summary: >-
        Create or update employees
      parameters:
        - in: body
          name: Employees
          schema:
            $ref: '#/definitions/Employee'
          required: true
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/Employee'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
  '/Employees/{EmployeeID}':
    x-related-model: Employee
    get:
      tags:
        - "Employees"
      summary: >-
        Retrieve an individual employee
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/Employee'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      parameters:
        - required: true
          in: path
          name: EmployeeID
          type: string
          format: uuid
    post:
      tags:
        - "Employees"
      summary: >-
        Update an employee
      parameters:
        - in: body
          name: Employees
          schema:
            $ref: '#/definitions/Employee'
          required: true
        - required: true
          in: path
          name: EmployeeID
          type: string
          format: uuid
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/Employee'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
  /ExpenseClaims:
    x-related-model: ExpenseClaim
    get:
      tags:
        - "ExpenseClaims"
      summary: Retrieve a collection of expense claims
      responses:
        '200':
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/ExpenseClaim'
        '500':
          $ref: '#/responses/500ErrorResponse'
      produces:
        - application/xml
        - application/json
      parameters:
        - $ref: '#/parameters/If-Modified-Since'
        - $ref: '#/parameters/where'
        - $ref: '#/parameters/order'
    put:
      tags:
        - "ExpenseClaims"
      summary: >-
        Create an expense claim
      parameters:
        - in: body
          name: ExpenseClaims
          schema:
            $ref: '#/definitions/ExpenseClaim'
          required: true
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/ExpenseClaim'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
    post:
      tags:
        - "ExpenseClaims"
      summary: >-
        Create or update an expense claim
      parameters:
        - in: body
          name: ExpenseClaims
          schema:
            $ref: '#/definitions/ExpenseClaim'
          required: true
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/ExpenseClaim'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
  '/ExpenseClaims/{ExpenseClaimID}':
    x-related-model: ExpenseClaim
    get:
      tags:
        - "ExpenseClaims"
      summary: Retrieve an individual expense claim
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/ExpenseClaim'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      parameters:
        - required: true
          in: path
          name: ExpenseClaimID
          type: string
          format: uuid
    post:
      tags:
        - "ExpenseClaims"
      summary: >-
        Update an expense claim
      parameters:
        - in: body
          name: ExpenseClaims
          schema:
            $ref: '#/definitions/ExpenseClaim'
          required: true
        - required: true
          in: path
          name: ExpenseClaimID
          type: string
          format: uuid
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/ExpenseClaim'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
  /Invoices:
    x-related-model: Invoice
    get:
      tags:
        - "Invoices"
      summary: Retrieve a collection of invoices (sales invoices and bills)
      responses:
        '200':
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/InvoicesResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      produces:
        - application/xml
        - application/json
      parameters:
        - $ref: '#/parameters/If-Modified-Since'
        - $ref: '#/parameters/where'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/unitdp'
        - name: IDs
          in: query
          description: >-
            Filter by a comma-separated list of InvoiceIDs
          type: string
          required: false
        - name: ContactIDs
          in: query
          description: >-
            Filter by a comma-separated list of ContactIDs
          type: string
          required: false 
        - name: Statuses
          in: query
          description: >-
            Filter by a comma-separated list of Statuses
          type: string
          required: false
        - name: InvoiceNumbers
          in: query
          description: >-
            Filter by a comma-separated list of InvoiceNumbers
          type: string
          required: false 
    put:
      tags:
        - "Invoices"
      summary: Create an Invoice (sales invoices or bills)
      parameters:
        - in: body
          name: Invoices
          schema:
            $ref: '#/definitions/Invoice'
          required: true
        - $ref: '#/parameters/unitdp'
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/InvoicesResponse'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
    post:
      tags:
        - "Invoices"
      summary: Create or update an Invoice (sales invoices or bills)
      parameters:
        - in: body
          name: Invoices
          schema:
            $ref: '#/definitions/Invoice'
          required: true
        - $ref: '#/parameters/unitdp'
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/InvoicesResponse'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
  '/Invoices/{InvoiceID}':
    x-related-model: Invoice
    get:
      tags:
        - "Invoices"
      summary: Retrieve an Invoice (sales invoice or bill)
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/InvoicesResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      parameters:
        - required: true
          in: path
          name: InvoiceID
          type: string
          format: uuid
        - $ref: '#/parameters/unitdp'
    post:
      tags:
        - "Invoices"
      summary: Update an Invoice (sales invoice or bill)
      parameters:
        - in: body
          name: Invoices
          schema:
            $ref: '#/definitions/Invoice'
          required: true
        - required: true
          in: path
          name: InvoiceID
          type: string
          format: uuid
        - $ref: '#/parameters/unitdp'
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/InvoicesResponse'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
  '/Invoices/{InvoiceID}/OnlineInvoice':
    x-related-model: OnlineInvoice
    get:
      tags:
        - "Invoices"
      summary: Retrieve the URL to view the online invoice
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/OnlineInvoicesResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      parameters:
        - required: true
          in: path
          name: InvoiceID
          type: string
          format: uuid
  '/Invoices/{InvoiceID}/Attachments':
    get:
      tags:
      - "Invoices"
      summary: Retrieve Attachments
      description: Retrieve Attachments
      produces:
        - application/xml
        - application/json
      parameters:
        - name: InvoiceID
          in: path
          description: >-
            The Xero generated unique identifier for an Invoice
          required: true
          type: string
        - $ref: '#/parameters/If-Modified-Since'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Attachments'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
  '/Invoices/{InvoiceID}/Attachments/{FileName}':
    get:
      tags:
      - "Invoices"
      summary: Download an Attachment
      description: Download an Attachment
      produces:
        - application/xml
        - application/json
      parameters:
        - name: FileName
          in: path
          description: The filename of the attachment to be downloaded
          required: true
          type: string
        - name: InvoiceID
          in: path
          description: >-
            The Xero generated unique identifier for an Invoice
          required: true
          type: string
        - $ref: '#/parameters/If-Modified-Since'
      responses:
        '200':
          description: >-
            Successful response. The response message will contain the raw file
            content that was originally uploaded. The response won’t contain any
            xml or json encoded information
        '404':
          $ref: '#/responses/404ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
    post:
      tags:
      - "Invoices"
      summary: Upload an Attachment
      description: Upload an Attachment
      produces:
        - application/xml
        - application/json
      parameters:
        - name: FileName
          in: path
          description: The filename of the attachment being uploaded
          required: true
          type: string
        - name: InvoiceID
          in: path
          description: >-
            The Xero generated unique identifier for an Invoice
          required: true
          type: string
        - name: Content
          in: body
          description: The raw content of the file to be uploaded
          required: true
          schema:
            required:
              - Content
            properties:
              Content:
                type: string
                description: The raw file content
      responses:
        '200':
          description: Attachment succesfully created.
          schema:
            $ref: '#/definitions/Attachments'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
  /Items:
    x-related-model: Item
    get:
      tags:
        - "Items"
      summary: Retrieve a collection of items
      responses:
        '200':
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/Item'
        '500':
          $ref: '#/responses/500ErrorResponse'
      produces:
        - application/xml
        - application/json
      parameters:
        - $ref: '#/parameters/If-Modified-Since'
        - $ref: '#/parameters/where'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/unitdp'
    put:
      tags:
        - "Items"
      summary: Create an item
      parameters:
        - in: body
          name: Items
          schema:
            $ref: '#/definitions/Item'
          required: true
        - $ref: '#/parameters/unitdp'
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/Item'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
    post:
      tags:
        - "Items"
      summary: Create or update an item
      parameters:
        - in: body
          name: Items
          schema:
            $ref: '#/definitions/Item'
          required: true
        - $ref: '#/parameters/unitdp'
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/Item'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
  '/Items/{ItemID}':
    x-related-model: Item
    get:
      tags:
        - "Items"
      summary: Retrieve an item
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/Item'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      parameters:
        - required: true
          in: path
          name: ItemID
          type: string
          format: uuid
        - $ref: '#/parameters/unitdp'
    post:
      tags:
        - "Items"
      summary: Update an item
      parameters:
        - in: body
          name: Items
          schema:
            $ref: '#/definitions/Item'
          required: true
        - required: true
          in: path
          name: ItemID
          type: string
          format: uuid
        - $ref: '#/parameters/unitdp'
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/Item'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
    delete:
      tags:
        - "Items"
      summary: Delete an item
      responses:
        '200':
          description: A successful request
        '404':
          $ref: '#/responses/404ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      parameters:
        - required: true
          in: path
          name: ItemID
          type: string
          format: uuid
  /Journals:
    x-related-model: Journal
    get:
      tags:
        - "Journals"
      summary: Retrieve a collection of journals.
      responses:
        '200':
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/Journal'
        '500':
          $ref: '#/responses/500ErrorResponse'
      produces:
        - application/xml
        - application/json
      parameters:
        - $ref: '#/parameters/If-Modified-Since'
        - $ref: '#/parameters/paymentsOnly'
        - $ref: '#/parameters/offset'
  '/Journals/{JournalID}':
    x-related-model: Journal
    get:
      tags:
        - "Journals"
      summary: Retrieve an individual journal.
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/Journal'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
      parameters:
        - required: true
          in: path
          name: JournalID
          type: string
          format: uuid
  /LinkedTransactions:
    x-related-model: LinkedTransaction
    get:
      tags:
        - "LinkedTransactions"
      summary: Retrieve a collection of linked transactions (billable expenses)
      responses:
        '200':
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/LinkedTransaction'
      produces:
        - application/xml
        - application/json
      parameters:
        - $ref: '#/parameters/page'
        - in: query
          name: SourceTransactionID
          description: Filter by the SourceTransactionID. Get all the linked transactions created from a particular ACCPAY invoice
          type: string
          format: uuid
        - in: query
          name: ContactID
          description: Filter by the ContactID. Get all the linked transactions that have been assigned to a particular customer. 
          type: string
          format: uuid
        - in: query
          name: Status
          description: Filter by the combination of ContactID and Status. Get all the linked transactions that have been assigned to a particular customer and have a particular status e.g. GET /LinkedTransactions?ContactID=4bb34b03-3378-4bb2-a0ed-6345abf3224e&Status=APPROVED. 
          type: string
          format: uuid
        - in: query
          name: TargetTransactionID
          description: Filter by the TargetTransactionID. Get all the linked transactions allocated to a particular ACCREC invoice.
          type: string
          format: uuid
    put:
      tags:
        - "LinkedTransactions"
      summary: Create a linked transaction (billable expense)
      parameters:
        - in: body
          name: LinkedTransactions
          schema:
            $ref: '#/definitions/LinkedTransaction'
          required: true
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/LinkedTransaction'
    post:
      tags:
        - "LinkedTransactions"
      summary: Create or update a linked transaction (billable expense)
      parameters:
        - in: body
          name: LinkedTransactions
          schema:
            $ref: '#/definitions/LinkedTransaction'
          required: true
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/LinkedTransaction'
  '/LinkedTransactions/{LinkedTransactionID}':
    x-related-model: LinkedTransaction
    get:
      tags:
        - "LinkedTransactions"
      summary: Retrieve a linked transaction (billable expense)
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/LinkedTransaction'
      parameters:
        - required: true
          in: path
          name: LinkedTransactionID
          type: string
          format: uuid
    post:
      tags:
        - "LinkedTransactions"
      summary: Update a linked transaction (billable expense)
      parameters:
        - in: body
          name: LinkedTransactions
          schema:
            $ref: '#/definitions/LinkedTransaction'
          required: true
        - required: true
          in: path
          name: LinkedTransactionID
          type: string
          format: uuid
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/LinkedTransaction'
    delete:
      tags:
        - "LinkedTransactions"
      summary: Delete a linked transaction (billable expense)
      responses:
        '200':
          description: A successful request
      parameters:
        - required: true
          in: path
          name: LinkedTransactionID
          type: string
          format: uuid
  /ManualJournals:
    x-related-model: ManualJournal
    get:
      tags:
        - "ManualJournals"
      summary: Retrieve a collection of manual journals
      responses:
        '200':
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/ManualJournal'
      produces:
        - application/xml
        - application/json
      parameters:
        - $ref: '#/parameters/If-Modified-Since'
        - $ref: '#/parameters/where'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/page'
    put:
      tags:
        - "ManualJournals"
      summary: Create a manual journal
      parameters:
        - in: body
          name: ManualJournals
          schema:
            $ref: '#/definitions/ManualJournal'
          required: true
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/ManualJournal'
    post:
      tags:
        - "ManualJournals"
      summary: Create or update a manual journal
      parameters:
        - in: body
          name: ManualJournals
          schema:
            $ref: '#/definitions/ManualJournal'
          required: true
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/ManualJournal'
  '/ManualJournals/{JournalID}':
    x-related-model: ManualJournal
    get:
      tags:
        - "ManualJournals"
      summary: Retrieve an individual manual journal
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/ManualJournal'
      parameters:
        - required: true
          in: path
          name: JournalID
          type: string
          format: uuid
    post:
      tags:
        - "ManualJournals"
      summary: Update a manual journal
      parameters:
        - in: body
          name: ManualJournals
          schema:
            $ref: '#/definitions/ManualJournal'
          required: true
        - required: true
          in: path
          name: JournalID
          type: string
          format: uuid
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/ManualJournal'
  '/ManualJournals/{ManualJournalID}/Attachments':
    get:
      tags:
      - "ManualJournals"
      summary: Retrieve Attachments
      description: Retrieve Attachments
      produces:
        - application/xml
        - application/json
      parameters:
        - name: ManualJournalID
          in: path
          description: >-
            The Xero generated unique identifier for a Manual Journal
          required: true
          type: string
        - $ref: '#/parameters/If-Modified-Since'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Attachments'
        '500':
          $ref: '#/responses/500ErrorResponse'
  '/ManualJournals/{ManualJournalID}/Attachments/{FileName}':
    get:
      tags:
      - "ManualJournals"
      summary: Download an Attachment
      description: Download an Attachment
      produces:
        - application/xml
        - application/json
      parameters:
        - name: FileName
          in: path
          description: The filename of the attachment to be downloaded
          required: true
          type: string
        - name: ManualJournalID
          in: path
          description: >-
            The Xero generated unique identifier for a Manual Journal
          required: true
          type: string
        - $ref: '#/parameters/If-Modified-Since'
      responses:
        '200':
          description: >-
            Successful response. The response message will contain the raw file
            content that was originally uploaded. The response won’t contain any
            xml or json encoded information
        '404':
          description: Attachment does not exist
        '500':
          $ref: '#/responses/500ErrorResponse'
    post:
      tags:
      - "ManualJournals"
      summary: Upload an Attachment
      description: Upload an Attachment
      produces:
        - application/xml
        - application/json
      parameters:
        - name: FileName
          in: path
          description: The filename of the attachment being uploaded
          required: true
          type: string
        - name: ManualJournalID
          in: path
          description: >-
            The Xero generated unique identifier for a Manual Journal
          required: true
          type: string
        - name: Content
          in: body
          description: The raw content of the file to be uploaded
          required: true
          schema:
            required:
              - Content
            properties:
              Content:
                type: string
                description: The raw file content
      responses:
        '200':
          description: Attachment succesfully created.
          schema:
            $ref: '#/definitions/Attachments'
        '400':
          description: Attachment couldn't be created.
        '500':
          $ref: '#/responses/500ErrorResponse'
  /Organisation:
    x-related-model: Organisation
    get:
      tags:
        - "Organisations"
      summary: Retrieve Organisation details
      responses:
        '200':
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/Organisation'
  '/Organisation/{ShortCode}':
    x-related-model: Organisation
    get:
      tags:
        - "Organisations"
      summary: Retrieve Organisation details
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/Organisation'
      parameters:
        - required: true
          in: path
          name: ShortCode
          type: string
          format: uuid
  /Overpayments:
    x-related-model: Overpayment
    get:
      tags:
        - "Overpayments"
      summary: Retrieve a collection of overpayments
      responses:
        '200':
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/OverpaymentsResponse'
      produces:
        - application/xml
        - application/json
      parameters:
        - $ref: '#/parameters/If-Modified-Since'
        - $ref: '#/parameters/where'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/page'
        - $ref: '#/parameters/unitdp'
  '/Overpayments/{OverpaymentID}':
    x-related-model: Overpayment
    get:
      tags:
        - "Overpayments"
      summary: Retrieve an overpayment
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/OverpaymentsResponse'
      parameters:
        - required: true
          in: path
          name: OverpaymentID
          type: string
          format: uuid
        - $ref: '#/parameters/unitdp'
  '/Overpayments/{OverpaymentID}/Allocations':
    x-related-model: Overpayment
    put:
      tags:
        - "Overpayments"
      summary: Allocate an overpayment
      parameters:
        - in: body
          name: Allocations
          schema:
            $ref: '#/definitions/Allocation'
          required: true
        - required: true
          in: path
          name: OverpaymentID
          type: string
          format: uuid
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/Allocation'
  /Payments:
    x-related-model: Payment
    get:
      tags:
        - "Payments"
      summary: Retrieve a collection of payments for invoices, credit notes, prepayments and overpayments
      responses:
        '200':
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/PaymentsResponse'
      produces:
        - application/xml
        - application/json
      parameters:
        - $ref: '#/parameters/If-Modified-Since'
        - $ref: '#/parameters/where'
        - $ref: '#/parameters/order'
    put:
      tags:
        - "Payments"
      summary: Create a payment
      parameters:
        - in: body
          name: Payments
          schema:
            $ref: '#/definitions/Payment'
          required: true
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/PaymentsResponse'
    post:
      tags:
        - "Payments"
      summary: Create a payment
      parameters:
        - in: body
          name: Payments
          schema:
            $ref: '#/definitions/Payment'
          required: true
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/PaymentsResponse'
  '/Payments/{PaymentID}':
    x-related-model: Payment
    get:
      tags:
        - "Payments"
      summary: Retrieve a payment
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/PaymentsResponse'
      parameters:
        - required: true
          in: path
          name: PaymentID
          type: string
          format: uuid
    post:
      tags:
        - "Payments"
      summary: Update a payment's status to deleted
      parameters:
        - in: body
          name: Payments
          schema:
            $ref: '#/definitions/Payment'
          required: true
        - required: true
          in: path
          name: PaymentID
          type: string
          format: uuid
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/PaymentsResponse'
  /Prepayments:
    x-related-model: Prepayment
    get:
      tags:
        - "Prepayments"
      summary: Retrieve a collection of prepayments
      responses:
        '200':
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/PrepaymentsResponse'
      produces:
        - application/xml
        - application/json
      parameters:
        - $ref: '#/parameters/If-Modified-Since'
        - $ref: '#/parameters/where'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/page'
        - $ref: '#/parameters/unitdp'
  '/Prepayments/{PrepaymentID}':
    x-related-model: Prepayment
    get:
      tags:
        - "Prepayments"
      summary: Retrieve an individual prepayment
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/PrepaymentsResponse'
      parameters:
        - required: true
          in: path
          name: PrepaymentID
          type: string
          format: uuid
        - $ref: '#/parameters/unitdp'
  '/Prepayments/{PrepaymentID}/Allocations':
    x-related-model: Prepayment
    put:
      tags:
        - "Prepayments"
      summary: Allocate a prepayment
      parameters:
        - in: body
          name: Allocations
          schema:
            $ref: '#/definitions/Allocation'
          required: true
        - required: true
          in: path
          name: PrepaymentID
          type: string
          format: uuid
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/Allocation'
  /PurchaseOrders:
    x-related-model: PurchaseOrder
    get:
      tags:
        - "PurchaseOrders"
      summary: Retrieve a collection of purchase orders
      responses:
        '200':
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/PurchaseOrder'
      produces:
        - application/xml
        - application/json
      parameters:
        - $ref: '#/parameters/If-Modified-Since'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/page'
        - required: false
          in: query
          name: DateFrom
          type: string
          format: date
        - required: false
          in: query
          name: DateTo
          type: string
          format: date
        - required: false
          in: query
          name: Status
          type: string
    put:
      tags:
        - "PurchaseOrders"
      summary: Create purchase orders
      parameters:
        - in: body
          name: PurchaseOrders
          schema:
            $ref: '#/definitions/PurchaseOrder'
          required: true
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/PurchaseOrder'
    post:
      tags:
        - "PurchaseOrders"
      summary: Create and update purchase orders
      parameters:
        - in: body
          name: PurchaseOrders
          schema:
            $ref: '#/definitions/PurchaseOrder'
          required: true
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/PurchaseOrder'
  '/PurchaseOrders/{PurchaseOrderID}':
    x-related-model: PurchaseOrder
    get:
      tags:
        - "PurchaseOrders"
      summary: Retrieve a single purchase order
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/PurchaseOrder'
      parameters:
        - required: true
          in: path
          name: PurchaseOrderID
          type: string
          format: uuid
    post:
      tags:
        - "PurchaseOrders"
      summary: Update a purchase order
      parameters:
        - in: body
          name: PurchaseOrders
          schema:
            $ref: '#/definitions/PurchaseOrder'
          required: true
        - required: true
          in: path
          name: PurchaseOrderID
          type: string
          format: uuid
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/PurchaseOrder'
  '/PurchaseOrders/{PurchaseOrderID}/Attachments':
    get:
      tags:
      - "PurchaseOrders"
      summary: Retrieve Attachments
      description: Retrieve Attachments
      produces:
        - application/xml
        - application/json
      parameters:
        - name: PurchaseOrderID
          in: path
          description: >-
            The Xero generated unique identifier for a purchase order
          required: true
          type: string
        - $ref: '#/parameters/If-Modified-Since'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Attachments'
        '500':
          $ref: '#/responses/500ErrorResponse'
  '/PurchaseOrders/{PurchaseOrderID}/Attachments/{FileName}':
    get:
      tags:
      - "PurchaseOrders"
      summary: Download an Attachment
      description: Download an Attachment
      produces:
        - application/xml
        - application/json
      parameters:
        - name: FileName
          in: path
          description: The filename of the attachment to be downloaded
          required: true
          type: string
        - name: PurchaseOrderID
          in: path
          description: >-
            The Xero generated unique identifier for a purchase order
          required: true
          type: string
        - $ref: '#/parameters/If-Modified-Since'
      responses:
        '200':
          description: >-
            Successful response. The response message will contain the raw file
            content that was originally uploaded. The response won’t contain any
            xml or json encoded information
        '404':
          description: Attachment does not exist
        '500':
          $ref: '#/responses/500ErrorResponse'
    post:
      tags:
      - "PurchaseOrders"
      summary: Upload an Attachment
      description: Upload an Attachment
      produces:
        - application/xml
        - application/json
      parameters:
        - name: FileName
          in: path
          description: The filename of the attachment being uploaded
          required: true
          type: string
        - name: PurchaseOrderID
          in: path
          description: >-
            The Xero generated unique identifier for a purchase order
          required: true
          type: string
        - name: Content
          in: body
          description: The raw content of the file to be uploaded
          required: true
          schema:
            required:
              - Content
            properties:
              Content:
                type: string
                description: The raw file content
      responses:
        '200':
          description: Attachment succesfully created.
          schema:
            $ref: '#/definitions/Attachments'
        '400':
          description: Attachment couldn't be created.
        '500':
          $ref: '#/responses/500ErrorResponse'
  /Receipts:
    x-related-model: Receipt
    get:
      tags:
        - "Receipts"
      summary: Retrieve a collection of draft receipts
      responses:
        '200':
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/Receipt'
      produces:
        - application/xml
        - application/json
      parameters:
        - $ref: '#/parameters/If-Modified-Since'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/where'
        - $ref: '#/parameters/unitdp'
    put:
      tags:
        - "Receipts"
      summary: "Create a receipt"
      parameters:
        - in: body
          name: Receipts
          schema:
            $ref: '#/definitions/Receipt'
          required: true
        - $ref: '#/parameters/unitdp'
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/Receipt'
    post:
      tags:
        - "Receipts"
      summary: "Create or update a receipt"
      parameters:
        - in: body
          name: Receipts
          schema:
            $ref: '#/definitions/Receipt'
          required: true
        - $ref: '#/parameters/unitdp'
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/Receipt'
  '/Receipts/{ReceiptID}':
    x-related-model: Receipt
    get:
      tags:
        - "Receipts"
      summary: Retrieve an individual receipt
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/Receipt'
      parameters:
        - required: true
          in: path
          name: ReceiptID
          type: string
          format: uuid
        - $ref: '#/parameters/unitdp'
    post:
      tags:
        - "Receipts"
      summary: Update a receipt
      parameters:
        - in: body
          name: Receipts
          schema:
            $ref: '#/definitions/Receipt'
          required: true
        - required: true
          in: path
          name: ReceiptID
          type: string
          format: uuid
        - $ref: '#/parameters/unitdp'
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/Receipt'
  '/Receipts/{ReceiptID}/Attachments':
    get:
      tags:
      - "Receipts"
      summary: Retrieve Attachments
      description: Retrieve Attachments
      produces:
        - application/xml
        - application/json
      parameters:
        - name: ReceiptID
          in: path
          description: >-
            The Xero generated unique identifier for a Receipt
          required: true
          type: string
        - $ref: '#/parameters/If-Modified-Since'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Attachments'
        '500':
          $ref: '#/responses/500ErrorResponse'
  '/Receipts/{ReceiptID}/Attachments/{FileName}':
    get:
      tags:
      - "Receipts"
      summary: Download an Attachment
      description: Download an Attachment
      produces:
        - application/xml
        - application/json
      parameters:
        - name: FileName
          in: path
          description: The filename of the attachment to be downloaded
          required: true
          type: string
        - name: ReceiptID
          in: path
          description: >-
            The Xero generated unique identifier for a Receipt
          required: true
          type: string
        - $ref: '#/parameters/If-Modified-Since'
      responses:
        '200':
          description: >-
            Successful response. The response message will contain the raw file
            content that was originally uploaded. The response won’t contain any
            xml or json encoded information
        '404':
          description: Attachment does not exist
        '500':
          $ref: '#/responses/500ErrorResponse'
    post:
      tags:
      - "Receipts"
      summary: Upload an Attachment
      description: Upload an Attachment
      produces:
        - application/xml
        - application/json
      parameters:
        - name: FileName
          in: path
          description: The filename of the attachment being uploaded
          required: true
          type: string
        - name: ReceiptID
          in: path
          description: >-
            The Xero generated unique identifier for a Receipt
          required: true
          type: string
        - name: Content
          in: body
          description: The raw content of the file to be uploaded
          required: true
          schema:
            required:
              - Content
            properties:
              Content:
                type: string
                description: The raw file content
      responses:
        '200':
          description: Attachment succesfully created.
          schema:
            $ref: '#/definitions/Attachments'
        '400':
          description: Attachment couldn't be created.
        '500':
          $ref: '#/responses/500ErrorResponse'
  /RepeatingInvoices:
    x-related-model: RepeatingInvoice
    get:
      tags:
        - "RepeatingInvoices"
      summary: Retrieve a collection of repeating invoice templates
      responses:
        '200':
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/RepeatingInvoice'
      produces:
        - application/xml
        - application/json
      parameters:
        - $ref: '#/parameters/If-Modified-Since'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/where'
  '/RepeatingInvoices/{RepeatingInvoiceID}':
    x-related-model: RepeatingInvoice
    get:
      tags:
        - "RepeatingInvoices"
      summary: Retrieve an individual repeating invoice template
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/RepeatingInvoice'
      parameters:
        - required: true
          in: path
          name: RepeatingInvoiceID
          type: string
          format: uuid
  '/RepeatingInvoices/{RepeatingInvoiceID}/Attachments':
    get:
      tags:
      - "RepeatingInvoices"
      summary: Retrieve Attachments
      description: Retrieve Attachments
      produces:
        - application/xml
        - application/json
      parameters:
        - name: RepeatingInvoiceID
          in: path
          description: >-
            The Xero generated unique identifier for a RepeatingInvoice
          required: true
          type: string
        - $ref: '#/parameters/If-Modified-Since'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Attachments'
        '500':
          $ref: '#/responses/500ErrorResponse'
  '/RepeatingInvoices/{RepeatingInvoiceID}/Attachments/{FileName}':
    get:
      tags:
      - "RepeatingInvoices"
      summary: Download an Attachment
      description: Download an Attachment
      produces:
        - application/xml
        - application/json
      parameters:
        - name: FileName
          in: path
          description: The filename of the attachment to be downloaded
          required: true
          type: string
        - name: RepeatingInvoiceID
          in: path
          description: >-
            The Xero generated unique identifier for a RepeatingInvoice
          required: true
          type: string
        - $ref: '#/parameters/If-Modified-Since'
      responses:
        '200':
          description: >-
            Successful response. The response message will contain the raw file
            content that was originally uploaded. The response won’t contain any
            xml or json encoded information
        '404':
          description: Attachment does not exist
        '500':
          $ref: '#/responses/500ErrorResponse'
    post:
      tags:
      - "RepeatingInvoices"
      summary: Upload an Attachment
      description: Upload an Attachment
      produces:
        - application/xml
        - application/json
      parameters:
        - name: FileName
          in: path
          description: The filename of the attachment being uploaded
          required: true
          type: string
        - name: RepeatingInvoiceID
          in: path
          description: >-
            The Xero generated unique identifier for a RepeatingInvoice
          required: true
          type: string
        - name: Content
          in: body
          description: The raw content of the file to be uploaded
          required: true
          schema:
            required:
              - Content
            properties:
              Content:
                type: string
                description: The raw file content
      responses:
        '200':
          description: Attachment succesfully created.
          schema:
            $ref: '#/definitions/Attachments'
        '400':
          description: Attachment couldn't be created.
        '500':
          $ref: '#/responses/500ErrorResponse'
  /TaxRates:
    x-related-model: TaxRate
    get:
      tags:
        - "TaxRates"
      summary: Retrieve a collection of tax rates
      responses:
        '200':
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/TaxRate'
      produces:
        - application/xml
        - application/json
      parameters:
        - $ref: '#/parameters/If-Modified-Since'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/where'
    put:
      tags:
        - "TaxRates"
      summary: Create tax rates
      parameters:
        - in: body
          name: TaxRates
          schema:
            $ref: '#/definitions/TaxRate'
          required: true
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/TaxRate'
    post:
      tags:
        - "TaxRates"
      summary: Create or update tax rates
      parameters:
        - in: body
          name: TaxRates
          schema:
            $ref: '#/definitions/TaxRate'
          required: true
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/TaxRate'
  /TrackingCategories:
    x-related-model: TrackingCategory
    get:
      tags:
        - "TrackingCategories"
      summary: Retrieve a collection of tracking categories and options
      responses:
        '200':
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/TrackingCategory'
      produces:
        - application/xml
        - application/json
      parameters:
        - $ref: '#/parameters/If-Modified-Since'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/where'
        - $ref: '#/parameters/includeArchived'
    put:
      tags:
        - "TrackingCategories"
      summary: Create a tracking category
      parameters:
        - in: body
          name: TrackingCategories
          schema:
            $ref: '#/definitions/TrackingCategory'
          required: true
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/TrackingCategory'
    post:
      tags:
        - "TrackingCategories"
      summary: Create a tracking category
      parameters:
        - in: body
          name: TrackingCategories
          schema:
            $ref: '#/definitions/TrackingCategory'
          required: true
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/TrackingCategory'
  '/TrackingCategories/{TrackingCategoryID}':
    x-related-model: TrackingCategory
    get:
      tags:
        - "TrackingCategories"
      summary: Retrieve a tracking category and it's options
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/TrackingCategory'
      parameters:
        - required: true
          in: path
          name: TrackingCategoryID
          type: string
          format: uuid
    post:
      tags:
        - "TrackingCategories"
      summary: Create or update a tracking category
      parameters:
        - in: body
          name: TrackingCategories
          schema:
            $ref: '#/definitions/TrackingCategory'
          required: true
        - required: true
          in: path
          name: TrackingCategoryID
          type: string
          format: uuid
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/TrackingCategory'
    delete:
      tags:
        - "TrackingCategories"
      summary: "Delete a Tracking Category"
      responses:
        '200':
          description: A successful request
      parameters:
        - required: true
          in: path
          name: TrackingCategoryID
          type: string
          format: uuid
  '/TrackingCategories/{TrackingCategoryID}/Options':
    x-related-model: TrackingCategory
    put:
      tags:
        - "TrackingCategories"
      summary: "Add options to a tracking category"
      parameters:
        - in: body
          name: TrackingOptions
          schema:
            $ref: '#/definitions/TrackingOption'
          required: true
        - required: true
          in: path
          name: TrackingCategoryID
          type: string
          format: uuid
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/TrackingOption'
  '/TrackingCategories/{TrackingCategoryID}/Options/{TrackingOptionID}':
    x-related-model: TrackingCategory
    delete:
      tags:
        - "TrackingCategories"
      summary: "Delete an option from a tracking category"
      responses:
        '200':
          description: A successful request
      parameters:
        - required: true
          in: path
          name: TrackingCategoryID
          type: string
          format: uuid
        - required: true
          in: path
          name: TrackingOptionID
          type: string
          format: uuid
  /Users:
    x-related-model: User
    get:
      tags:
        - "Users"
      summary: Retrieve a collection of Users
      responses:
        '200':
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/User'
      produces:
        - application/xml
        - application/json
      parameters:
        - $ref: '#/parameters/If-Modified-Since'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/where'
  '/Users/{UserID}':
    x-related-model: User
    get:
      tags:
        - "Users"
      summary: Retrieve an individual User
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/User'
      parameters:
        - required: true
          in: path
          name: UserID
          type: string
          format: uuid
definitions:
  Account:
    externalDocs:
      url: 'http://developer.xero.com/documentation/api/accounts/'
    type: object
    required:
      - Code
      - Name
      - Type
    properties:
      Code:
        type: string
        description: Customer defined alpha numeric account code e.g 200 or SALES
        maxLength: 10
        example: 200
      Name:
        type: string
        description: Name of account
        maxLength: 150
        example: Sales
      Type:
        type: string
        description: Account type
        example: CURRENT
        enum:
          - BANK
          - CURRENT
          - CURRLIAB
          - DEPRECIATN
          - DIRECTCOSTS
          - EQUITY
          - EXPENSE
          - FIXED
          - INVENTORY
          - LIABILITY
          - NONCURRENT
          - OTHERINCOME
          - OVERHEADS
          - PREPAYMENT
          - REVENUE
          - SALES
          - TERMLIAB
          - PAYGLIABILITY
          - SUPERANNUATIONEXPENSE
          - SUPERANNUATIONLIABILITY
          - WAGESEXPENSE
          - WAGESPAYABLELIABILITY
      BankAccountNumber:
        type: string
        description: For bank accounts only (Type BANK)
        example: 1234353453453
      Status:
        type: string
        description: Accounts with a status of ACTIVE can be updated to ARCHIVED
        example: ACTIVE
        enum:
          - ACTIVE
          - ARCHIVED
      Description:
        type: string
        description: Description of the Account. Valid for all types of accounts except bank accounts 
        maxLength: 4000
        example: A sales account
      BankAccountType:
        type: string
        description: For bank accounts only
        example: CREDITCARD
        enum:
          - BANK
          - CREDITCARD
          - PAYPAL
      CurrencyCode:
        type: string
        description: For bank accounts only
        example: AUD
      TaxType:
        type: string
        description: Default tax rate for the account
        example: NONE
      EnablePaymentsToAccount:
        type: boolean
        example: false
        description: Describes whether account can have payments applied to it
      ShowInExpenseClaims:
        type: boolean
        example: false
        description: Describes whether account code is available for use with expense claims
      AccountID:
        type: string
        format: uuid
        description: Unique identifier for the account
        readOnly: true
        example: 50e845c3-464e-4a6d-8951-8794317c7893
      Class:
        type: string
        description: The class of account
        readOnly: true
        example: ASSET
        enum:
          - ASSET
          - EQUITY
          - EXPENSE
          - LIABILITY
          - REVENUE
      SystemAccount:
        type: string
        description: If this is a system account then this element is returned. See System
          Account types. Note that non-system accounts may have this element set
          as either “” or null.
        readOnly: true
        example: ROUNDING
        enum: 
          - DEBTORS
          - CREDITORS
          - BANKCURRENCYGAIN
          - GST
          - GSTONIMPORTS
          - HISTORICAL
          - REALISEDCURRENCYGAIN
          - RETAINEDEARNINGS
          - ROUNDING
          - TRACKINGTRANSFERS
          - UNPAIDEXPCLM
          - UNREALISEDCURRENCYGAIN
          - WAGEPAYABLES
      ReportingCode:
        type: string
        description: Shown if set
        example: ASS
        readOnly: true
      ReportingCodeName:
        type: string
        description: Shown if set
        example: Asset
        readOnly: true
      HasAttachments:
        type: boolean
        description: Indicates if an account has an attachment
        example: false
        readOnly: true
      UpdatedDateUTC:
        type: string
        format: date-time
        description: Last modified date UTC format
        readOnly: true
  AccountsResponse:
    type: object
    xml:
      name: Response
    properties:
      ID:
        type: string
        description: Unique identifier for each response
        readOnly: true
      Status:
        type: string
        description: OK for a successful response
        readOnly: true
      ProviderName:
        type: string
        description: Name of the application that made the request
        readOnly: true
      DateTimeUTC:
        type: string
        format: dateTime
        description: DateTime of the request
        readOnly: true
      Accounts:
        type: array
        items:
          $ref: '#/definitions/Account'
  Address:
    externalDocs:
      url: 'https://developer.xero.com/documentation/api/types#addresses'
    type: object
    properties:
      AddressType:
        type: string
        description: The address type
        example: POSTAL
        enum:
          - POBOX
          - STREET
          - POSTAL
      AddressLine1:
        type: string
        example: Apartment A
        maxLength: 500
      AddressLine2:
        type: string
        example: Building 20
        maxLength: 500
      AddressLine3:
        type: string
        example: 123 Main St
        maxLength: 500
      AddressLine4:
        type: string
        example: South
        maxLength: 500
      City:
        type: string
        example: New York City
        maxLength: 255
      Region:
        type: string
        example: New York
        maxLength: 500
      PostalCode:
        type: string
        example: 47483
        maxLength: 50
      Country:
        type: string
        example: United States
        maxLength: 50
      Attentionto:
        type: string
        example: Accounts Department
        maxLength: 255
  Addresses:
    type: array
    items:
      $ref: '#/definitions/Address'
  Allocation:
    properties:
      Invoice:
[...]
