swagger: '2.0'
info:
  title: Accounting API
  version: '2.0'
  description: |
    # Introduction
    The Xero Accounting API is a RESTful web service and uses the OAuth (v1.0a) protocol to authenticate 3rd party applications. The Accounting API exposes accounting and related functions of the main Xero application and can be used for a variety of purposes such as creating transactions like invoices and credit notes, right through to extracting accounting data via our reports endpoint.
  contact:
    name: Xero Developer Team
    url: 'https://developer.xero.com'
  x-logo:
    url: 'https://lh3.googleusercontent.com/-_IQ9BNy118c/AAAAAAAAAAI/AAAAAAAAAB0/yvA2ZQSg_pk/s500-c-no/photo.jpg'
host: api.xero.com
basePath: /api.xro/2.0
schemes:
  - https
consumes:
  - application/xml
produces:
  - application/xml
  - application/json
tags:
- name: "Accounts"
  externalDocs: 
    description: "Accounts"
    url: "https://developer.xero.com/documentation/api/accounts/"
paths:
  /Accounts:
    x-related-model: Account
    get:
      tags:
        - "Accounts"
      summary: Retrieve the full chart of accounts
      description: Retrieve the chart of accounts
      produces:
        - application/xml
        - application/json
      parameters:
        - $ref: '#/parameters/If-Modified-Since'
        - $ref: '#/parameters/where'
        - $ref: '#/parameters/order'
      responses:
        '200':
          description: A successful response
          schema:
            $ref: '#/definitions/AccountsResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
    put:
      tags:
        - "Accounts"
      summary: Create new accounts
      parameters:
        - in: body
          name: Accounts
          schema:
            $ref: '#/definitions/Account'
          required: true
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/AccountsResponse'
        '400':
          $ref: '#/responses/400ErrorResponse'    
    post:
      tags:
        - "Accounts"
      summary: Create or update accounts
      parameters:
        - in: body
          name: Accounts
          schema:
            $ref: '#/definitions/Account'
          required: true
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/AccountsResponse'
        '400':
          $ref: '#/responses/400ErrorResponse'
  '/Accounts/{AccountID}':
    x-related-model: Account
    get:
      tags:
        - "Accounts"
      summary: Retrieve a single account
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/AccountsResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
      parameters:
        - required: true
          in: path
          name: AccountID
          type: string
          format: uuid
    post:
      tags:
        - "Accounts"
      summary: Update an account
      parameters:
        - in: body
          name: Accounts
          schema:
            $ref: '#/definitions/Account'
          required: true
        - required: true
          in: path
          name: AccountID
          type: string
          format: uuid
      responses:
        '200':
          description: A successful request
          schema:
            $ref: '#/definitions/AccountsResponse'
        '400':
          $ref: '#/responses/400ErrorResponse'
        '404':
          $ref: '#/responses/404ErrorResponse'
    delete:
      tags:
        - "Accounts"
      summary: Delete an account
      responses:
        '200':
          description: A successful request
        '404':
          $ref: '#/responses/404ErrorResponse'
      parameters:
        - required: true
          in: path
          name: AccountID
          type: string
          format: uuid
  '/Accounts/{AccountID}/Attachments':
    get:
      tags:
      - "Accounts"
      summary: Retrieve Attachments
      description: Retrieve Attachments
      produces:
        - application/xml
        - application/json
      parameters:
        - name: AccountID
          in: path
          description: >-
            The Xero generated unique identifier for an account
          required: true
          type: string
        - $ref: '#/parameters/If-Modified-Since'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Attachments'
        '404':
          $ref: '#/responses/404ErrorResponse'
        '500':
          $ref: '#/responses/500ErrorResponse'
  '/Accounts/{AccountID}/Attachments/{FileName}':
    get:
      tags:
      - "Accounts"
      summary: Download an Attachment
      description: Download an Attachment
      produces:
        - application/xml
        - application/json
      parameters:
        - name: FileName
          in: path
          description: The filename of the attachment to be downloaded
          required: true
          type: string
        - name: AccountID
          in: path
          description: >-
            The Xero generated unique identifier for an account
          required: true
          type: string
        - $ref: '#/parameters/If-Modified-Since'
      responses:
        '200':
          description: >-
            Successful response. The response message will contain the raw file
            content that was originally uploaded. The response won’t contain any
            xml or json encoded information
        '404':
          description: Attachment does not exist
        '500':
          $ref: '#/responses/500ErrorResponse'
    post:
      tags:
      - "Accounts"
      summary: Upload an Attachment
      description: Upload an Attachment
      produces:
        - application/xml
        - application/json
      parameters:
        - name: FileName
          in: path
          description: The filename of the attachment being uploaded
          required: true
          type: string
        - name: AccountID
          in: path
          description: >-
            The Xero generated unique identifier for an account
          required: true
          type: string
        - name: Content
          in: body
          description: The raw content of the file to be uploaded
          required: true
          schema:
            required:
              - Content
            properties:
              Content:
                type: string
                description: The raw file content
      responses:
        '200':
          description: Attachment succesfully created.
          schema:
            $ref: '#/definitions/Attachments'
        '400':
          description: Attachment couldn't be created.
        '500':
          $ref: '#/responses/500ErrorResponse'
definitions:
  Account:
    externalDocs:
      url: 'http://developer.xero.com/documentation/api/accounts/'
    type: object
    required:
      - Code
      - Name
      - Type
    properties:
      Code:
        type: string
        description: Customer defined alpha numeric account code e.g 200 or SALES
        maxLength: 10
        example: 200
      Name:
        type: string
        description: Name of account
        maxLength: 150
        example: Sales
      Type:
        type: string
        description: Account type
        example: CURRENT
        enum:
          - BANK
          - CURRENT
          - CURRLIAB
          - DEPRECIATN
          - DIRECTCOSTS
          - EQUITY
          - EXPENSE
          - FIXED
          - INVENTORY
          - LIABILITY
          - NONCURRENT
          - OTHERINCOME
          - OVERHEADS
          - PREPAYMENT
          - REVENUE
          - SALES
          - TERMLIAB
          - PAYGLIABILITY
          - SUPERANNUATIONEXPENSE
          - SUPERANNUATIONLIABILITY
          - WAGESEXPENSE
          - WAGESPAYABLELIABILITY
      BankAccountNumber:
        type: string
        description: For bank accounts only (Type BANK)
        example: 1234353453453
      Status:
        type: string
        description: Accounts with a status of ACTIVE can be updated to ARCHIVED
        example: ACTIVE
        enum:
          - ACTIVE
          - ARCHIVED
      Description:
        type: string
        description: Description of the Account. Valid for all types of accounts except bank accounts 
        maxLength: 4000
        example: A sales account
      BankAccountType:
        type: string
        description: For bank accounts only
        example: CREDITCARD
        enum:
          - BANK
          - CREDITCARD
          - PAYPAL
      CurrencyCode:
        type: string
        description: For bank accounts only
        example: AUD
      TaxType:
        type: string
        description: Default tax rate for the account
        example: NONE
      EnablePaymentsToAccount:
        type: boolean
        example: false
        description: Describes whether account can have payments applied to it
      ShowInExpenseClaims:
        type: boolean
        example: false
        description: Describes whether account code is available for use with expense claims
      AccountID:
        type: string
        format: uuid
        description: Unique identifier for the account
        readOnly: true
        example: 50e845c3-464e-4a6d-8951-8794317c7893
      Class:
        type: string
        description: The class of account
        readOnly: true
        example: ASSET
        enum:
          - ASSET
          - EQUITY
          - EXPENSE
          - LIABILITY
          - REVENUE
      SystemAccount:
        type: string
        description: If this is a system account then this element is returned. See System
          Account types. Note that non-system accounts may have this element set
          as either “” or null.
        readOnly: true
        example: ROUNDING
        enum: 
          - DEBTORS
          - CREDITORS
          - BANKCURRENCYGAIN
          - GST
          - GSTONIMPORTS
          - HISTORICAL
          - REALISEDCURRENCYGAIN
          - RETAINEDEARNINGS
          - ROUNDING
          - TRACKINGTRANSFERS
          - UNPAIDEXPCLM
          - UNREALISEDCURRENCYGAIN
          - WAGEPAYABLES
      ReportingCode:
        type: string
        description: Shown if set
        example: ASS
        readOnly: true
      ReportingCodeName:
        type: string
        description: Shown if set
        example: Asset
        readOnly: true
      HasAttachments:
        type: boolean
        description: Indicates if an account has an attachment
        example: false
        readOnly: true
      UpdatedDateUTC:
        type: string
        format: date-time
        description: Last modified date UTC format
        readOnly: true
  AccountsResponse:
    type: object
    xml:
      name: Response
    properties:
      ID:
        type: string
        description: Unique identifier for each response
        readOnly: true
      Status:
        type: string
        description: OK for a successful response
        readOnly: true
      ProviderName:
        type: string
        description: Name of the application that made the request
        readOnly: true
      DateTimeUTC:
        type: string
        format: dateTime
        description: DateTime of the request
        readOnly: true
      Accounts:
        type: array
        items:
          $ref: '#/definitions/Account'
  Attachment:
    type: object
    properties:
      AttachmentId:
        type: string
        description: Xero generated unique identifier for attachment
      Filename:
        type: string
        description: The filename of the attachemnt
      Url:
        type: string
        description: The URL to where the attachment is located
      MimeType:
        type: string
        description: The mimetype of the attachemnt
      ContentLegth:
        type: number
        format: integer
        description: The content length in bytes
      IncludeOnline:
        type: boolean
        description: Determines whether the attachment is included with the online invoice
  Attachments:
    type: array
    items:
      $ref: '#/definitions/Attachment'
parameters:
  If-Modified-Since:
    name: If-Modified-Since
    in: header
    description: >-
      A UTC timestamp (yyyy-mm-ddThh:mm:ss) . Only invoices created or modified
      since this timestamp will be returned e.g. 2009-11-12T00:00:00
    required: false
    type: string
    format: date-time
  page:
    name: page
    in: query
    description: >-
      Page number e.g. page=1. Page size is 100. When using the page parameter full resource details will be returned (including line items).
    type: integer
    required: false
  offset:
    name: offset
    in: query
    description: >-
      Offset by a specified journal number. e.g. journals with a JournalNumber greater than the offset will be returned.
    type: integer
    required: false
  paymentsOnly:
    name: paymentsOnly
    in: query
    description: >-
      Return results on a the cash basis
    type: boolean
    required: false
  includeArchived:
    name: includeArchived
    in: query
    description: >-
      Include archived records in the response 
    type: boolean
    required: false
  where:
    name: where
    in: query
    description: Filter by an any element
    required: false
    type: string
  order:
    name: order
    in: query
    description: Order by any element returned
    required: false
    type: string
  unitdp:
    name: unitdp
    in: query
    description: Determines the decimal places accepted/returned on the UnitAmount. UnitAmount is 2 decimal places by default but can be increased to 4 decimal places by supplying the unitdp=4 parameter.
    required: false
    type: integer
responses:
  500ErrorResponse:
    description: An unexpected error occured.
    schema:
      type: object
      xml:
        name: APIException
      properties:
        ErrorNumber:
          type: string
          description: The HTTP error code
          example: 500
        Type:
          type: string
          description: The type of exception
          example: UnknownErrorException
        Message:
          type: string
          description: The exception description
          example: >-
              An error occurred in Xero. Check the API Status page for current service status. Contact the API support team at api@xero.com for more assistance.
  400ErrorResponse:
    description: An validation exception occured.
    schema:
      type: object
      xml:
        name: APIException
      properties:
        ErrorNumber:
          type: string
          description: Please ignore (doesn't really mean anything) 
          example: 10
        Type:
          type: string
          description: The type of exception
          example: ValidationException
        Message:
          type: string
          description: The exception description
          example: >-
              A validation exception occurred
        Elements:
          type: object
          properties:
            DataContractBase:
              type: object
              properties:
                ValidationErrors:
                  type: array
                  items:
                    properties:
                      ValidationError:
                       type: object
                       properties:
                        Message:
                          type: string
                          description: The validation error message
                          example: You did something silly
  404ErrorResponse:
    description: The resource you're looking for cannot be found

  